@model FirstMVCApp.ViewModels.MemberCodeSnippetsViewModel

@{
    ViewData["Title"] = "DetailsWithCodeSnippets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DetailsWithCodeSnippets</h1>

<div>
    <h4>MemberCodeSnippetsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<label asp-for="CodeSnippets" class="control-label">Code Snippets for this member</label>
@foreach(var item in Model.CodeSnippets)
{
    <div style="border: 1px solid red;">
        <p>
            @Html.DisplayFor(modelItem => item.Title)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.ContentCode)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Revision)
        </p>
    </div>
}

